body {
    width: 100%;
    height: 100%;
}

.container {
    width: 400px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 18px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: darkslategrey;
    flex: 1;
}

.calcDisplay {
    display: flex;
    height: 80px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 16px;
    justify-content: right;
    align-items: end;
    font-size: 40px;
}

#equals {
    flex: 2 1 auto;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size:30px;
    flex: 1 1 auto;
    color: khaki;
    background-color: black;
}